/* global.css */

body {
  font-family: roboto, sans-serif;
  background-color: white; 
  background-image: linear-gradient(to right, #6bff77, rgb(81, 220, 255));
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #00796b; /* Verde suave */
}

.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

form {
  width:60%;
  background-color: #ffffff;
  border: 1px solid #1589a1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(229, 4, 4, 0.1);
  margin: 0 auto;
}

input, select, textarea {
  width: 99%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #0a82f9;
  border-radius: 10px;
}

button {
  background-color: #046ff1; /* Verde suave */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004d40; /* Verde más oscuro */
}

table {
  width: 90%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  border: 1px solid #00796b;
  text-align: left;
}

table th {
  background-color: #32ff4a;
  color: white;
}

table tr:nth-child(even) {
  background-color: #e0f7fa;
}

.error {
  color: red;
}
